@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.full {
		@apply w-full h-full;
	}
	.full-screen {
		@apply w-screen h-screen;
	}
}

@layer base {
	@font-face {
		font-family: 'aeoniktrial';
		src: url('fonts/aeoniktrial-bold-webfont.woff2') format('woff2');
		font-weight: 700;
		font-style: normal;
	}

	@font-face {
		font-family: 'aeoniktrial';
		src: url('fonts/aeoniktrial-bolditalic-webfont.woff2') format('woff2');
		font-weight: 700;
		font-style: italic;
	}

	@font-face {
		font-family: 'aeoniktrial';
		src: url('fonts/aeoniktrial-light-webfont.woff2') format('woff2');
		font-weight: 300;
		font-style: normal;
	}

	@font-face {
		font-family: 'aeoniktrial';
		src: url('fonts/aeoniktrial-lightitalic-webfont.woff2') format('woff2');
		font-weight: 300;
		font-style: italic;
	}

	@font-face {
		font-family: 'aeoniktrial';
		src: url('fonts/aeoniktrial-regular-webfont.woff2') format('woff2');
		font-weight: 500;
		font-style: normal;
	}

	@font-face {
		font-family: 'aeoniktrial';
		src: url('fonts/aeoniktrial-regularitalic-webfont.woff2') format('woff2');
		font-weight: 500;
		font-style: italic;
	}
}
